@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    background-color: #e8f1fa;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

div#home_wrapper {
    margin: 100px auto 0 auto;
    width: 750px;
}

h1#title {
    text-align: center;
    font-size: 40px;
}

button {
    display: block;
}

div#svg-wrapper {
    text-align: center;
}

div#welcome-wrapper {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

div#welcome-wrapper input#file-cover {
    border: none;
    width: 330px;
    font-size: 25px;
    margin: 15px auto;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;
    color: #f4f8fb;
    background-color: #2a323a;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

div#welcome-wrapper input#file-cover:hover {
    color: white;
    background-color: black;
}

div#welcome-wrapper img {
    margin-top: 30px;
    width: 100px;
    opacity: 60%;
}

div#options {
    position: fixed;
    top: 20px;
    left: 10px;
    background-color: beige;
    padding: 10px;
    border-radius: 3px;
}

input#sleep {
    width: 70px;
}